{% extends "base.html" %}

{% block title %}Recipe Book - {{recipe.name}}{% endblock %}

{% block styles %}
    <style>
        body {
            li {
                list-style-type: none;
                padding: 0;
            }
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Recipe Book</h1>
    <h2>{{ recipe.name }}</h2>
    <p>
        {% for recipe_ingredient in recipe.ingredients.all %}
        <li>
            {{ recipe_ingredient.ingredient.name }}: {{ recipe_ingredient.quantity }}
        </li>
        {% endfor %}
    </p>
{% endblock %}